
body{
	background-color: black;
}


nav {
	background-color: white;
}
p{
	color: white;
}

h1,h3,h5{
	color:  white;
	font-family: fantasy;
	text-shadow: 2px 2px black;

	
}

footer{
	opacity: 0.5;
	text-align: center;
}

.main {

  padding: 16px;
  margin: 16px;

  background-color: rgba(117, 117, 117, 0.1);
  border-radius: 5px;
}

.navigation{
		display: inline-flex;
	position: sticky;
	top:0px;

	
 }

.navigationButton {

	font-family: fantasy;
  color: #f2f2f2;
	text-decoration: none;
	padding: 20px;
	text-align: right;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 25px;


}

.navigationButton:hover {
color: #D10000;
}

.downloadButton{
	padding: 5px;

	text-align: center;
	color: black;
	background-color: white;
	font-family: fantasy;
	text-decoration: none;
	border-radius: 5px;
}

.downloadButton:hover {

	background-color: rgba(295,195,0,1);
	color: black;
}



#mainTitleImg {

  width: 200;
	height: 50px	;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 10px;

	animation-name: fadeIncomeFromRight; 
  animation-duration: 2s;
}

#logo{
	width: 200;
	height: 50px;
	padding-left: 20px;
	padding-right: 10px;
	
}

.broadcastBox{

background-image: url(Img/banner.png) ;
background-position: top;
background-size: cover;
height: 30rem;
width: 97%;
	animation-name: fadeIn;
  animation-duration: 2s;

}

.boxBody{

}


.boxMainTitle{
	text-shadow: 2px 2px black;
	padding-left: 10px;
	animation-name: fadeIn;
  animation-duration: 3s;
}

.broadcastMainText{

background: rgb(146,0,0);
background: linear-gradient(90deg, rgba(146,0,0,1) 0%, rgba(146,0,0,0.8) 80%, rgba(146,0,0,0) 100%);
animation-name: fadeIncomeFromRight;
  animation-duration: 2s;

}

.boxMainText{
	padding-left: 5px;
	background: rgba(97, 0, 0,0.7);
	background: linear-gradient(90deg, rgba(146,0,0,1) 0%, rgba(146,0,0,0.8) 80%, rgba(146,0,0,0) 100%);

	animation-name: fadeIncomeFromRight; 
  animation-duration: 2s;
}

.defaultBox{

display: inline-block;
background-color: rgba(48, 48, 48, 0.5);
margin-left: 5%;
}
.broadcastLinks{

	width: auto;
	margin: 20px;
	margin-left: 0px;
	animation-name: fadeIncomeFromRight;
  animation-duration: 2s;
}

.disclaimer{

	font-family: sans-serif;
	border-top-style: solid;
	border-color: darkred;
	border-top-width: 25px;
	background-color: rgba(38, 38, 38, 0.1);

	
	margin: 50px;
	padding: 20px;
	text-align: justify;
	display: block;
}

@keyframes fadeIn{
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIncomeFromRight{
  0%   {opacity: 0; margin-left: 100px;}
  100% {opacity: 1;}
}