
body{
	background-color: #181818;
}


nav {
	background: rgb(39,39,39);
background: linear-gradient(180deg, rgba(39,39,39,1) 0%, rgba(39,39,39,0.6) 79%, rgba(39,39,39,0) 100%);
	background-size: cover;
	text-align: center;
	width: 100vw;
	padding-bottom: 1%;
	padding-top: 1%;
}
p{
	color: white;
}

h1,h3,h5{
	color:  white;
	font-family: 'Anton', sans-serif;
	text-shadow: 2px 2px black;
}

footer{
	opacity: 0.3;
	text-align: center;
}

.main {
  background-color: rgba(117, 117, 117, 0.1);
  border-radius: 5px;
}

.navigation{
	position: sticky;
	top:0px;
 }

.navigationButton {
	font-family: 'Anton', sans-serif;
  color: white;
	text-decoration: none;
	margin: 2%;
	padding: 1%;
	text-align: center;
	text-shadow: 20% 20% black;
	font-size: 3vh;
	background-color: #3D0000;
	border-radius: 10%;
}

.navigationButton:hover {
	color: white;
	background-color: #950101;
}

.downloadButton{
	text-shadow: none;
	color: black;
	background-color: white;
}

.downloadButton:hover {
	background-color: #C16F01;
	color: black;
}

.logo{
margin: 1%;
padding: 1%;
background-color: rgba(0, 0, 0, 0.0);
border-radius: 0px;
max-width: 20%;
height: 50%;

overflow: hidden;

}



.broadcastBox{
	margin-top: 0px;
	padding-left: 2%;
	background-image: url(Img/banner.png);
	background-position: top;
	background-size: cover;
	height: 85vh;
	width: 100vw;
	animation-name: fadeIn;
	animation-duration: 2s;
	overflow: hidden;

}

.boxBody{
	animation-name: fadeIncomeFromRight;
	animation-duration: 2s;
}


.boxMainTitle{
	text-shadow: 2px 2px black;
	padding-left: 10px;
	font-size: 5vh;
	animation-name: fadeIn;
  animation-duration: 2s;
}

#broadCastMainText{
	background: rgb(146,0,0);
	background: linear-gradient(90deg, rgba(146,0,0,1) 0%, rgba(146,0,0,0.8) 80%, rgba(146,0,0,0) 100%);
	animation-name: fadeIncomeFromRight;
	animation-duration: 2s;

}

.boxMainText{
	padding-left: 5px;
	background: rgba(97, 0, 0,0.7);
	background: linear-gradient(90deg, rgba(146,0,0,1) 0%, rgba(146,0,0,0.8) 80%, rgba(146,0,0,0) 100%);

	animation-name: fadeIncomeFromRight; 
  animation-duration: 2s;
}

.boxBodyText{
	font-size: 3vh;

}

.defaultBox{
	padding: 1%;
	display: inline-block;
	background-color: rgba(43, 46, 74,0.5);
	margin-left: 5%;
}
.broadcastLinks{
	width: auto;
	margin: 20px;
	margin-left: 0px;
	animation-name: fadeIncomeFromRight;
  animation-duration: 2s;
}

.disclaimer{
	font-family: sans-serif;
	border-top-style: solid;
	border-bottom-style: solid ;
	border-color: #950101;
	border-top-width: 25px;
	border-bottom-width: 2px;
	background-color: rgba(43, 46, 74,0.5);
	margin: 50px;
	padding: 20px;
	text-align: justify;
	display: block;
}

@keyframes fadeIn{
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIncomeFromRight{
  0%   {opacity: 0; margin-left: 100px;}
  100% {opacity: 1;}
}