<div class="FormBox" id="contactForm">
	<div class="Formulario">
		<script src="../static/scripts/ContactForm.js"></script>
		<h1>Contact</h1>

		<!-- https://formsubmit.co/garri87games@gmail.com -->
		<form action="https://formsubmit.co/garri87games@gmail.com" method="POST" enctype="multipart/form-data"></form>

		<input type="text" name="_honey" style="display:none;">

		<input type="hidden" name="_captcha" value="false">

		<label for="FormNombre"><b>Name:</b></label>
		<input type="text" name="name" id="formName" required>

		<label for="FormCorreo"><b>E-Mail:</b></label>
		<input type="email" name="email" id="formMail" required>
		<br>
		<label for="formMensaje"><b>Message:</b></label>
		<textarea name="formMensaje" id="formMessage" cols="30" rows="5"></textarea required>
					<br>
					<input type="submit" id="submit" value="Submit" onclick="submitForm()">
				  </form>
		  
				</div>
			</div>
		</div>