{%include 'head.html'%}

    <div class="">
        <div class="defaultBox">
            <p align="left">03/04/22 </p>
            <h1 id="defaultBoxTitle">Alpha V0.4 - Weapons Showcase: Molotov Cocktail</h1>
            <p id="defaultBoxText">
                Greetings! <br> In this video I show you the advances in the throwable items for the next alpha build
                v0.4 in development <br>
                <br>
                <iframe src="https://www.youtube.com/embed/ButFzvM5TiQ"
                    title="ZCAVENGER DevLog - Weapons Showcase: Molotov Cocktail" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </p>
        </div>
        <div class="defaultBox">
            <p align="left">29/03/22</p>
            <h1 id="defaultBoxTitle">Alpha V0.3 Changelog</h1>
            <p id="defaultBoxText">
                I am happy to announce the new version of the game, adding various features to gameplay, performance,
                visuals and more! Go to this Link to download.

                Remember this is an alpha stage of development, founding the bases to step forward to the complete game.
                I am open to any suggestion or constructive criticism and if you find any bug please report it to
                garri87games@gmail.com

                Some models are from third party and they will be replaced for own assets as development progresses.

                Thank you all for your support!
                <br>
                <br>

                <b>CHANGE LOG:</b>
                <br>
                <br>
                <b>LEVELS:</b>
                <br>
                Renewed design for the first level. <br>
                New and redesigned enterable buildings: ruined residential building, office building, markets.<br>

                <br>
                <b>UI:</b>
                <br>
                Redesigned general UI elements.<br>
                Added an options menu with display, graphics, audio and input settings.<br>
                New icons for items and weapons in general.<br>
                The inspect button in the inventory context menu is now functional and show item/weapon
                characteristics.<br>
                Loading screen now show gameplay tips.<br>
                Added a stamina bar to the in-game overlay.<br>
                Added outline to collectible items in world.<br>
                Changed the collectibles font and show the current binded "use" action key.
                <br>
                <br>
                <b>WEAPONS:</b>
                <br>

                New weapons: AK74, Colt 1911.<br>
                New models for M4a1 and Glock<br>
                Improved reloading animations. Magazine grabbing and attaching for AK74, M4A1 and 1911<br>
                Added bullet spread for shotgun in the desired angle. The damage is divided by the number of pellets
                that come out of the barrel.
                <br>

                <br>
                <b>GAMEPLAY:</b>
                <br>

                Added player ability to hang and climb over ledges.<br>
                Player can now stomp crippled enemies by pressing the attack key (default: left mouse button).<br>
                Player can block enemy attacks by pressing block key (Default: right mouse button) while using a melee
                weapon (Axe or Bat), player can’t block attacks with a knife or unarmed.<br>
                Enemies can catch the player to bite him. Press the jump key repeatedly to release.<br>
                Added death zones in some parts of the level (pits, fire, etc.).<br>
                Added smooth transition for walking and running animations<br>
                Added Stamina to the health system. Now the player will consume stamina while jumping, attacking or
                rolling.<br>
                Optimized item containers script. Weapons and items can be spawned in an orderly and random manner
                including quantities.<br>
                Doors are now semitransparent to more comfortable visual when player is behind.<br>
                <br>

                <b>AI:</b>
                <br>
                Code optimization for enemy animations.<br>
                <br>
                <b>AUDIO:</b>
                <br>
                Added weapon sounds for AK74 and Colt 1911<br>
                Added reverb zones<br>

                <br>
                <b>MODELS:</b>
                <br>
                New model for player character.<br>
                Added 9mm,,45Acp, Caliber 12, 5.45mm and 5.56mm ammo models<br>
                New doors models.<br>
                New item containers:<br>
                Bathroom Sink<br>
                Bedside Table<br>
                Crate<br>
                File Cupboard<br>
                Fridge<br>
                Kitchen cabinet up and down<br>
                Market Shelf<br>
                Wardrobe<br>
                Wooden Shelf<br>

                <br>
                <b>POSTPROCESSING AND VISUALS:</b>
                <br>

                Added Screen Space Ambient Occlusion effect (SSAO)<br>
                Added volumetric light scattering effects.<br>
                <br>



                <b>PERFORMANCE:</b>
                <br>
                Added object-pooling system for bullets and particles.<br>
                Added LOD groups for buildings and models to prevent them from rendering when they are off camera. Added
                a UI Manager Script to centralize transform references
            </p>

        </div>
        <div class="defaultBox">
            <p align="left">16/02/22</p>
            <h1 id="defaultBoxTitle">Alpha v0.3 - Level design</h1>
            <p id="defaultBoxText">
                Hello everyone, in this video I show you the progress in level design. in which the improvements in the
                buildings in general and the interiors can be highlighted. <br>
                Alpha version 0.3 is coming soon so stay tuned for updates! <br>
                <br>
                <iframe src="https://www.youtube.com/embed/J0zgmTU7n0k"
                    title="ZCAVENGER v0.3alpha - Mi primer proyecto de videojuego desarrollado en Unity" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </p>

        </div>

    </div>
   
    {%include 'footer.html'%}