<!DOCTYPE html>
<html lang="en">

<head>

    <title>Zcavenger</title>

    <meta charset="utf-8">
    <meta name="description" content="Zcavenger Official Page">
    <meta name="keywords" content="Zcavenger, Zombie, Shooter, Games">
    <meta name="author" content="Pablo Flores">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/Img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='css/Styles.css')}}">


    <script src="https://kit.fontawesome.com/f97f302caa.js" crossorigin="anonymous"></script>
    <script src="../static/scripts/login.js"></script>

</head>

<body>

    <header class="NavigationBox">
        <a href="{{url_for('index')}}"> <img src="../static/Img/TitleTransparent.png" id="logo"></a>

        <nav>
            <a href="{{ url_for('index') }}" class="NavigationButton">Home</a>

            <a href="{{ url_for('development') }}" class="NavigationButton">Development</a>

            <a href="{{ url_for('index') }}#contactForm" class="NavigationButton">Contact</a>

            <a href="{{ url_for('forum.forumIndex')}}" class="NavigationButton">Forums</a>

            <a href="https://garri87.itch.io/zcavenger/download/eyJpZCI6MTI5NDQ1MiwiZXhwaXJlcyI6MTY2MjEyODcxMH0%3d.V1gBg9hIQMlWcqx3APjQ8x%2f4RjM%3d"
                class="DownloadButton">DOWNLOAD</a>

            {%include 'auth/login.html' %}

        </nav>
    </header>