<!DOCTYPE html>
<html lang="en">

<head>

    <title>Zcavenger</title>

    <meta charset="utf-8">
    <meta name="description" content="Zcavenger Official Page">
    <meta name="keywords" content="Zcavenger, Zombie, Shooter, Games">
    <meta name="author" content="Pablo Flores">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/Img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='css/MainStyles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Dropdown.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Responsive.css')}}">



    <script src="https://kit.fontawesome.com/f97f302caa.js" crossorigin="anonymous"></script>
    <script src="../static/scripts/login.js"></script>

</head>

<body>

{%include 'nav.html'%}