{% extends 'layouts/base.html' %}
{% block content %}
<div class="Main">
    <div class="broadcastBox">
        <h3>Emergency Broadcast</h3>
        <div>
            <h1>ZCAVENGER ALPHA V0.3 IS OUT NOW!</h1>
            <h5> How long can you survive?</h5>
            <br>
            <div>
                <a href="https://garri87.itch.io/zcavenger/purchase?popup=1" class="DownloadButton"
                    target="_blank">DOWNLOAD</a>
                <a href="https://garri87.itch.io/zcavenger/devlog/363273/zcavenger-v03-alpha-early-access"
                    class="NavigationButton" target="_blank">Patch Notes</a>
            </div>
        </div>
    </div>

    {%include 'newsBox.html'%}

    {%include 'contact/contactForm.html'%}
</div>

{% endblock %}