{%include 'head.html'%}

<div class="Main">
    <div class="broadcastBox">
        <h3>Emergency Broadcast</h3>
        <div>
            <h1>ZCAVENGER ALPHA V0.3 IS OUT NOW!</h1>
            <h5> How long can you survive?</h5>
            <br>
            <div>
                <a href="https://garri87.itch.io/zcavenger/purchase?popup=1" class="DownloadButton"
                    target="_blank">DOWNLOAD</a>
                <a href="https://garri87.itch.io/zcavenger/devlog/363273/zcavenger-v03-alpha-early-access"
                class="NavigationButton" target="_blank">Patch Notes</a>
            </div>
        </div>
    </div>

    <div class="disclaimer">
        <h2>ABOUT THE GAME</h2>
        <p>Welcome to the official page of Zcavenger, a zombie survival game with roguelike, shooter and platform
            elements. The game is in alpha stage of development with many features to add and that I will be
            reporting
            through the <a href="{{url_for('development')}}">development</a> section.
            I hope you enjoy my first game!</p>
        <br>
        <p>Sincerely</p>
        <p><b><i>Pablo Flores</i></b></p>



    </div>

    <div class="defaultBox">

        <iframe src="https://www.youtube.com/embed/ButFzvM5TiQ"
            title="ZCAVENGER DevLog - Weapons Showcase: Molotov Cocktail" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>

    </div>
</div>
{%include 'contactForm.html'%}
{%include 'footer.html'%}
