{%extends 'layouts/base.html'%}

{% block content %}

<br>
<div class="defaultBox">
    <h1 style="text-align:center; margin: 0%"> Zcavenger Forums</h1>
</div>
<br>
<div class="defaultBox">
    <p>Welcome to the Zcavenger official forum, in this section you can find announcements, bug reports,
        general discussion and more content created by the community. </p>
</div>

<br>
{% if current_user.is_authenticated == false %}

<div class="defaultBox AlertMessage">
    Sign in your account to participate in the forum and create new posts
</div>
<br>
{% endif %}

<div class="container">
    <h3 class="defaultBox-title">Main Topics</h3>

    {% for i in range(topics|length) %}
    <a class="topic-row" href="{{url_for('forum.posts',topic=topics[i])}}">

        <div class="col topic-name">
            <i class="fa-solid fa-bullhorn"></i> {{topics[i]}}
        </div>
        <div class="col topic-count">
            {% if topicList[i] != None %}
            <p> {{topicList[i]|count}} posts</p>
            {% endif %}
        </div>
    </a>
    {% endfor %}
</div>
<br>
{% if lastPosts != None %}

<div class="container">
    <h3 class="defaultBox-title">Latest Posts</h3>

    {% for i in range(lastPosts|count) %}

    <div class="post-panel">

        <div class="col post-info">
            <p>By: {{lastPosts[i].user.username}}</p>
            <p>Created: {{lastPosts[i].createdate}}</p>
            <p>Topic: {{lastPosts[i].topic}}</p>
        </div>

        <div class="col post-title">
            <a href="/showPost/{{lastPosts[i].id}}">
                <h4>{{lastPosts[i].title}}</h4>

            </a>
        </div>

    </div>

    {% endfor %}
</div>

{% endif %}

<br>
{% endblock %}