{%include 'head.html'%}

<div class="defaultBox">

    <form class="Formulario" action="/createPost/{{ topic }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <p>Creating new post for: {{topic}}</p>
        <br>
        <label for="txtTitle">Title</label>
        <input type="text" name="txtTitle" required>
        <br>
        {{ ckeditor.create() }}
        <br>
        <label for="media">Media:</label>
        <input type="file" name="media" onchange="previewFile()">
        <img src="../static/Img/noMedia.jpg" alt="" id="imgPreview">
        
        <br>
        <input type="submit" name="submit" value="Submit Post">

    </form>
    {{ ckeditor.load() }}

</div>


{%include 'footer.html'%}