{%extends 'layouts/base.html'%}

{% block content %}

<div class="defaultBox">

    <form class="Formulario" action="{{url_for('forum.create_post',postTopic = topic)}}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <p>Creating new post for: {{topic}}</p>
        <br>
        <label for="txtTitle">Title</label>
        <input type="text" name="txtTitle" required>
        <br>
        {{ ckeditor.create() }}
        <br>
        <label for="media">Media:</label>
        <input type="file" name="media" id="fileSelector" onchange="previewFile()">
        <img src="../static/Img/noMedia.jpg" alt="" id="imgPreview">
        <p>Files must not be larger than 5mb</p>

        <br>
        <input type="submit" name="submit" value="Submit Post">

    </form>
    {{ ckeditor.load() }}

</div>


<script>


    function previewFile() {
      var preview = document.getElementById('imgPreview');
      var file = document.getElementById('fileSelector').files[0];
      var reader = new FileReader();
  
      reader.onloadend = function () {
        preview.src = reader.result;
      }
  
      if (file) {
        reader.readAsDataURL(file);
      } else {
        preview.src = "";
      }
    }
  </script>

  {% endblock %}