{%include 'head.html'%}

<div class="defaultBox">
    <div style="width: 100%; padding: 2%;">
        <a class="defaultButton" href="/posts/{{post.topic}}">Back to posts</a>

    </div>
</div>

<div class="PostBody">

    <div class="PostUserSection">
        {% if post.user.profileimg != "" %}

        <img src="../uploads/{{post.user.profileimg}}" alt="">
        {% else %}
        
        <img src="../uploads/NoProfile.png" alt="">

        {% endif %}
        
        
            <p>{{post.user.username}}</p>
            <p>Created: {{post.createdate}}</p>

       
        {% if post.user_ID == current_user.id %}
        <div class="defaultBox">
            <a class="defaultButton" onclick="confirmDelete()">Delete post</a>
        </div>


        {% endif %}
    </div>

    <div class="PostContent"> <!-- Text -->
        <div>
            <div>
                <h2>{{post.title}}</h2> <!-- Title -->
            </div>
            <p> {{post.text|safe}} </p>

            {% if post.media != "" %}
            <div>
                <h4>Media:</h4>

                <img class="defaultBox" src="../uploads/{{post.media}}" alt="" style="width:300px">
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="CommentSection">

    <h3>Comments:</h3>

    {% if post.comments %}
    <div class="">
        {% for comment in post.comments%}
        <div class="Comment">
            <div class="CommentText">
                {{comment.text|safe}}

                {% if comment.media != "" %}
                <div>
                    Media:
                    <img src="../uploads/{{comment.media}}" alt="" style="width:300px">
                </div>
                {% endif %}
            </div>
            <div class="CommentUserSection">

                <img src="../uploads/{{comment.user.profileimg}}" alt="">

                <div>
                    {{comment.user.username}}
                    <p>Date: {{comment.createdate}}</p>
                    {% if current_user.isadmin %}
                        <a href="{url_for('delete_comment', comment.id)}" class="button">Delete Comment</a>
                    {% endif %}
                </div>

            </div>



        </div>
        {% endfor %}
    </div>
    {% else %}

    <p> There's no comments yet for this post </p>

    {% endif %}

</div>


{% if current_user.is_authenticated %}

<div class="defaultBox" style="width: 100%">

    <h2>Post a comment </h2>
    <div class="defaultBox">
        <form class="Formulario" action="/postComment/{{post.id}}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            {{ ckeditor.create() }}
            <br>
            <input type="file" name="commentMedia"><br>
            <img src="../static/Img/NoProfile.png" alt="" id="imgPreview"><br>
            <p>Files must not be larger than 5mb</p>

            <input type="submit" name="submit">

        </form>
        {{ ckeditor.load() }}
    </div>



</div>

{% else %}
<div class="AlertBox">

    <h3>Sign In to comment in this post</h3>

</div>
{% endif %}

<br>
{%include 'footer.html'%}


<script>
    function confirmDelete() {
        let text = "Are you sure to delete this post? This action is irreversible "
        if (confirm(text)) {
            window.location.replace("{{url_for('forum.deletePost', id = post.id)}}")


        }
    }
</script>