
<div class="loginDrpDwn">
    <form action="/login" method="POST">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">    

        <input type="text" name="username" id="username" placeholder="username">
        <br>
        <input type="password" name="pass" id="pass" placeholder="password">
        <br>
        <button type="submit" name="login" id="login" value="login">LOG IN</button>
    </form>
    {% with messages = get_flashed_messages() %}

    {% if messages %}
    <br />
    {% for message in messages %}
    <div role="alert">
        <button type="button"><strong>{{ message }}</strong></button>
    </div>
    {% endfor %}
    {% endif %}

    {% endwith %}
    <br>
   
    {% if current_user.is_authenticated%}
    <a class="" href="{{ url_for('logout') }}">Logout</a>
    {% else %}
    <p> Don't have an account? <a href="{{url_for('register')}}"> Sign In</a> </p>
    {% endif %}

</div>
