<div class="Button NavigationButton LoginButton dropdown" onclick="toggleLoginBox()">
    <div>

    {% if current_user.is_authenticated %}
   
        {% if current_user.profileimg != "" %}
        <img src="../uploads/{{current_user.profileimg}}" alt="">
        {% else %}
        <img src="../uploads/NoProfile.png" alt="">
        {%endif%}
    </div>
    <div class="">
        {{current_user.username}}
    </div>
    <div>
        {% else %}
        <i class="dropbtn fa-solid fa-circle-user fa-2xl"></i>
        {% endif %}
    </div>
    <div>
        <i class="fa-solid fa-angle-down"></i>
    </div>


    {% with messages = get_flashed_messages(category_filter=["login_message"]) %}

    <div id="myDropdown" class="dropdown-content {% if messages %} show {% endif %}">
        {% endwith %}
        {% with messages = get_flashed_messages(category_filter=["login_message"]) %}
        {% if messages %}
        <div class="defaultBox">
            {% for message in messages %}
            <div class="AlertMessage" role="alert">
                <strong>{{ message }}</strong>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% if current_user.is_authenticated %}
        <div class="DropdownMenu">

            <a class="DownloadButton" href="{{url_for('auth.user_dashboard', user_id = current_user.id)}}"> <i
                    class="fa-solid fa-user"></i> Profile</a>

            <a class="DownloadButton" href="{{url_for('forum.posts',userID = current_user.id)}}"><i
                    class="fa-solid fa-newspaper"></i> My Posts</a>


            <a class="DownloadButton" href="{{ url_for('auth.logout')}}"><i
                    class="fa-solid fa-right-from-bracket"></i> Log Out</a>

        </div>

        {% else %}
        <form class="LoginForm" action="/login" method="POST" enctype="multipart/form-data">

            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

            <label for="username"><i class="fa-solid fa-user" style="color: white"></i></label>
            <input type="text" name="username" id="username" placeholder="Username">
            <br>

            <label for="contrasena"><i class="fa-solid fa-key" style="color: white"></i></label>
            <input type="password" name="contrasena" id="contrasena" placeholder="Password">

            <br>

            <button type="submit" name="login" id="login" value="login">LOG IN</button>
        </form>

        <p> Don't have an account?
            <button>
                <a style="color: black;" href="{{url_for('auth.register')}}"> SIGN UP </a>
            </button>

        </p>
        {% endif %}

    </div>
</div>