<div class="dropdown">
    <p class="LoginButton" onclick="toggleLoginBox()">
        {% if current_user.is_authenticated %}
            {% if current_user.profileimg != "" %}
            <img src="../uploads/{{current_user.profileimg}}" alt="">
            {% else %}
            <img src="../uploads/NoProfile.png" alt="">
            {%endif%}
        {{current_user.username}}
        {% else %}
        <i class="dropbtn fa-solid fa-circle-user fa-2xl"></i>
        {% endif %}
        <i class="fa-solid fa-angle-down"></i>
    </p>
    <div id="myDropdown" class="dropdown-content">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div role="alert">
            <button type="button"><strong>{{ message }}</strong></button>

            <script>toggleLoginBox()</script>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% if current_user.is_authenticated %}
        <div class="DropdownMenu">

            <a class="NavigationButton" href="{{url_for('home')}}"> <i class="fa-solid fa-user"></i> Profile</a>

            <a class="NavigationButton" href="{{url_for('forum.posts',userID = current_user.id)}}"><i class="fa-solid fa-newspaper"></i> My Posts</a>


            <a class="NavigationButton" href="{{ url_for('auth.logout')}}"><i
                    class="fa-solid fa-right-from-bracket"></i> Log Out</a>

        </div>

        {% else %}
        <form class="LoginForm" action="/login" method="POST" enctype="multipart/form-data">

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <label for="username"><i class="fa-solid fa-user" style="color: white"></i></label>
            <input type="text" name="username" id="username" placeholder="Username">
            <br>

            <label for="contrasena"><i class="fa-solid fa-key" style="color: white"></i></label>
            <input type="password" name="contrasena" id="contrasena" placeholder="Password">

            <br>

            <button type="submit" name="login" id="login" value="login">LOG IN</button>
        </form>

        <p> Don't have an account?
            <button>
                <a style="color: black;" href="{{url_for('auth.register')}}"> SIGN UP </a>
            </button>

        </p>
        {% endif %}

    </div>
</div>