{% extends 'layouts/base.html'%}

{%  block content %}

<div class="defaultBox">
  <script src="https://www.google.com/recaptcha/api.js"></script>

  <script>
    function onSubmit(token) {
      document.getElementById("updateForm").submit();
    }
  </script>

  <form class="Formulario" id="updateForm" action="/updateUser/{{current_user.id}}" method="POST" enctype="multipart/form-data">
    <h1 style="text-align:center">Sign Up</h1>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    
    <label for="txtusername">Username</label>
    <input type="text" name="txtusername" value="{{user.username}}" disabled >
    <br>
    
    <label for="txtpass">Password</label>
    <input type="password" name="txtpass" >
    <br>
    
    <label for="txtpass2">Repeat password</label>
    <input type="password" name="txtpass2">
    <br>
   
    <label for="txtrealname">Real name</label>
    <input type="text" name="txtrealname" value="{{user.realname}}">
    <br>
    
    <label for="txtmail">E-mail</label>
    <input type="mail" name="txtmail" value="{{user.mail}}" required>
    <br>
   
    <label for="txtcountry">Country</label>
    <select id="country" name="txtcountry" selected="{{user.country}}">
      {% for country in countries %}
      
        <option value="{{country}}" {% if country == user.country %} selected {% endif %} >{{country}}</option>
      {%endfor%}
    </select>
    <br>
    <div class="ImgSelectBox">
      <label for="profileimg">
        <input type="file" name="profileimg" id="fileSelector" accept="image/*"
          onchange="previewFile()">
      </label>

      <img src="../static/Img/{{user.profileimg}}" alt="" id="imgPreview">
      <p>Files must not be larger than 5mb</p>
    </div>
    <br>
    <br>
    <button type="submit" class="g-recaptcha" data-sitekey="{{ site_key }}" 
        data-callback='onSubmit' data-action='submit'>Register</button>
  </form>
</div>

<script>
  function previewFile() {
    var preview = document.getElementById('imgPreview');
    var file = document.getElementById('fileSelector').files[0];
    var reader = new FileReader();

    reader.onloadend = function () {
      preview.src = reader.result;
    }

    if (file) {
      reader.readAsDataURL(file);
    } else {
      preview.src = "";
    }
  }
</script>

{% endblock %}