
<div class="Login">
<form action="/users/add" method="POST">

<label for="userName">User</label>
  <input type="text" name="userName" placeholder="user" id="userName" />

<label for="pass">Password</label>
  <input type="text" name="pass" placeholder="password" id="pass" />


<button>Login</button>

</form>
</div>
