@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400&family=Lato:wght@300;400&family=Oswald:wght@200;300;400&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Anton', sans-serif;

*/

:root {

	--white: rgb(228, 228, 228);
	--lightred: rgb(208, 0, 0);
	--darkRed: rgb(129, 30, 30);
	--darkGray: rgb(22, 22, 22);
	--mediumGray: rgb(70, 70, 70);
	--lightGray: rgb(104, 104, 104);
	--yellow: rgb(226, 178, 3);
	--orange: rgb(255, 166, 0);
	--black: rgb(12, 12, 12);
	--darkBlue: rgb(0, 53, 114);
	--lightBlue: rgb(94, 140, 192);

	--font_Inter: 'Inter', sans-serif;
	--font_Lato: 'Lato', sans-serif;
	--font_Oswald: 'Oswald', sans-serif;
	--font_Anton: 'Anton', sans-serif;

}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--black);
	margin: auto;
}

nav {
	display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
	background-color: var(--darkGray);
}

nav a {
	text-align: center;
}

h1{
	font-family: var(--font_Anton);
	color: var(--white);
	text-shadow: 1px 1px var(--black);
	font-weight: normal;
	text-decoration: none;
	padding-left: 1%;
}

h2,
h3,
h4,
h5 {
	font-family: var(--font_Oswald);
	color: var(--white);
	text-shadow: 1px 1px var(--black);
	font-weight: normal;
	text-decoration: none;
	margin: 0px;
	padding-left: 1%;
}

p {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: var(--white);
}

label {
	font-family: var(--font_Oswald);
	text-shadow: 1px 1px var(--black);
}

i{
	color: var(--white);
}

footer {
	background-color: var(--mediumGray);
	max-width: 100%;
	height: 100%;
	padding: 1%;
	
	
}

footer * {
	font-family: var(--font_Lato);
	 color: var(--white);
	text-decoration: none;
}


footer a:hover {
	color: var(--lightBlue);

}

footer img {
	max-width: 30px;
}

.AlertBox {
	position: absolute;
	opacity: 0.9;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.AlertMessage {
	animation-duration: 1s;
	animation-name: fadeIn;
	background-color: var(--orange);
	border: 2px solid var(--darkGray);
	color: var(--black);
	font-family: var(--font_Oswald);
	padding: 1%;
	text-align: center;
	text-decoration: none;
}
.broadcastBox {
	text-align: left;

	background-image: url(../Img/banner.png);
	background-position: top;
	background-size: cover;
	height: 50vh;
}

.broadcastBox h3 {
	padding-left: 1%;
	color: var(--yellow);
	background: linear-gradient(90deg, var(--lightred) 0%, var(--darkRed) 80%, transparent 100%);
	padding: 0.5%;
	font-size: 140%;
	margin: 0px;
}



.broadcastBox a {
	margin-left: 1%;
}

.cke_chrome{
	border: 2px solid var(--white);
}

.cke_top{
    background-color: var(--darkGray) !important ;
	box-shadow: 1px 1px black;
}

.cke_top *{
	color: white !important;

}

.CommentSection {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.Comment {
	
	color: var(--white);

	font-family: 'Oswald';

}

.Comment img {
	width: 60px;
	border: 1px solid var(--white);
	aspect-ratio: 1/1;
	object-fit: cover;

}

.Comment:nth-child(even) {
	background-color: var(--darkGray);
}

.Comment:nth-child(odd) {
	background-color: var(--mediumGray);
}

.CommentUserSection {
	font-size: 70%;
	text-align: center;
	border: 1px solid var(--darkGray);

}

.CommentText {
	margin-left: 2%;
	margin-top: 1%;
	height: 100%;
}

.DownloadButton {
	
	background-color: var(--orange);
	color: var(--black);
	font-family: var(--font_Anton);
	border: 1px solid black;
}

.DownloadButton:hover{
	color: black;
	background-color: var(--yellow);
	cursor: pointer;
}

.defaultBox {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	border: 1px solid var(--darkGray);
	width: 100%;
	border-radius: 5px;
	
}


.defaultBox-title {
	color: var(--white);
	background-color: var(--darkRed);
	padding: 1%;
}

#defaultBoxText {
	margin: 1%;
	color: var(--white);
	font-family: Calibri;
	text-align: justify;
	font-family: 'Oswald', sans-serif;

}

.devLog-box{
	background-color: var(--darkGray);
	border: 1px solid var(--lightGray);
	margin: 1%;
}

.DropdownMenu{
	display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

.FormBox {
	width: 100%;
	max-width: 100%;
	padding: 1%;
	background-color: rgb(15, 15, 15);
	border-top: 1px solid var(--black);
	animation-name: fadeIn;
	animation-duration: 1s;
}
.FormBox form{
	display: flex;
	flex-direction: column;
	
}

.FormBox label{
	color: var(--white)
}


.Formulario {
	justify-content: center;
	background-color: var(--darkGray);
	color: var(--white);

}

.Formulario button {
	font-family: 'Oswald', sans-serif;

}

.Formulario h2 {
	font-family: 'Lato', sans-serif;
	color: var(--darkGray);
	color: var(--white);
}



#fileSelector .input-file {
	display: hidden;
}

.ImgSelectBox {
	display: flex;
	gap: 10%;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}



input[type=file] {
	background-color: var(--lightGray);
	color: var(--black);
	padding: 2%;
}

input[type=file]::file-selector-button {

	border-radius: 0px;
	border: none;
	height: 100%;

}

input[type=submit] {
	background-color: var(--orange);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: fit;
	text-align: center;
	border: none;
}

input[type=submit]:hover {
	background-color: var(--yellow);

}

#imgPreview {
	height: 100px;
	max-width: 100px;
	border: 2px solid var(--lightGray);
	aspect-ratio: 1/1;
	object-fit: cover;

}

.logo {
	width: 100px;
	height: 30px;
	padding: 2px;
}

.Button{
	margin: 1%;
	padding: 0.8%;
	border-radius: 5px;
	text-decoration: none;
}

.LoginButton {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	text-align: center;	
	margin: 0;
	border: 1px solid var(--lightGray);
	border-radius: 3px;
}

.LoginButton img{
	max-width: 30px;
	max-height: 30px;
	border-radius: 50%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.LoginButton:hover{
	background-color: var(--lightGray);
	cursor: pointer;
	
}

.LoginButton div{
	padding: 2px;
}


.Main {
	animation-name: fadeIn;
	animation-duration: 1s;
	
}

.NavigationButton {
	background-color: var(--darkGray);
	color: rgb(247, 247, 247);
	font-family: var(--font_Oswald);
	text-decoration: none;
	border: 1px solid var(--lightGray);
	border-radius: 5px;

}

.NavigationButton:hover {
	background-color: var(--lightGray);
	color: var(--white);
}

.news-box{
	background-image: url('../Img/ZombiePC.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.news-box *{
	text-align: left;
	text-decoration: none;
}

.news-box div{
	height:100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}





#profileImg {
	height: 40px;
	width: 40px;
	object-fit: cover;
	border-radius: 2px;
	border: 1px solid var(--white);
}



.post-content {
	background-color: rgb(55, 55, 55);
	border: 1px solid var(--black);
	width: 99%;
	color: var(--white);
}

.PostContent {
	color: var(--white);
	width: 100%;
	text-align: justify;
	font-family: var(--font_Lato);	
}

.PostContent > div:first-of-type{
	margin-left: 2%;
	margin-right: 2%;
}

.PostContent h2{
	background-color: var(--darkGray);
}

.post-info{
	background-color: var(--mediumGray);
	border: 2px solid var(--darkGray);
	color: var(--white);
	padding: 1%;
	font-size: 70%;	
}
.post-info img {
	max-width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	border: 1px solid var(--white);
}

.post-item {
	font-family: 'Oswald';
	align-items: center;
}

.post-item:hover{
	text-decoration: underline;
}

.post-item .defaultBox {
	height: 100%;
	justify-content: center;
}

.post-item:nth-child(even) {
	background-color: var(--mediumGray)
}

.post-item:nth-child(odd) {
	background-color: var(--darkGray)
}


.post-panel{
	display: flex;
	align-items: center;
	background-color: var(--darkGray);
	border: 1px solid var(--darkGray);
	text-decoration: none;
}

.post-panel:nth-child(even){
	background-color: var(--lightGray);
}

.post-panel:hover{
	background-color: var(--lightBlue);
}

.post-title * {
	text-decoration: none;
	color: var(--white);
	text-align: center;
	height: 100%;	
}

.post-title {
	font-family: var(--font_Oswald);	
}


.PostUserSection {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	color: var(--white);
	background-color: var(--darkGray);
	font-size: 70%;
	border: 1px solid var(--black);
	
}
.PostUserSection *{
	margin: 0px
}

.PostUserSection img {
	border: 1px solid var(--lightGray);
	width: 60px;
	aspect-ratio: 1/1;
	object-fit: cover;
}


.Social {
	width: 100%;
}

.topic-row{
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--white);
	text-decoration: none;
	width: 100%;
}

.topic-row:nth-child(even):hover,
.topic-row:nth-child(odd):hover{
	background-color: var(--lightBlue);
}

.topic-row:nth-child(even){
	background-color: var(--lightGray);
}
.topic-row:nth-child(odd){
	background-color: var(--darkGray);
}

.topic-name a{
	font-family: var(--font_Oswald);
	text-decoration: none;
	color: var(--white);
}

.topic-name{
	max-width: 90%;
}

.topic-count{
	max-width: 10%;
}

.userIcon {
	color: var(--lightGray);
}

.userInfo {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: flex-start;
    justify-content: center;
	
	font-size: 50%;
	border: 1px solid var(--darkGray);
	
}

.userInfo *{
	margin: 0px;
}

.userInfo a {
	color: var(--white);
	font-family: 'Oswald', sans;
}


.UserDashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border: 1px solid var(--black);
	background-color: var(--darkGray);

	color: var(--white);
	font-family: 'Oswald', sans;
	font-size: 90%;

}
.UserDashboard table{
	width: 100%;
	border-collapse: collapse;

}

.UserDashboard th{
	width: fit-content;
	text-align: center;
	border: 1px solid var(--darkGray);

	font-family: var(--font_Oswald);
	text-shadow: 1px 1px black;	
}

.UserDashboard tr:nth-child(even) {
	background-color: var(--darkGray);
}

.UserDashboard th,
tr:nth-child(odd) {
	background-color: var(--mediumGray);
}

.UserDashboard h2 {
	background-color: var(--darkBlue);
	width: 100%;
	text-align: center;
}

@keyframes paddingOut {
	from {
		padding: 0.5%;
	}

	to {
		padding: 1%;
	}
}

@keyframes paddingIn {
	from {
		padding: 1%;
	}

	to {
		padding: 0.5%;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 100%
	}

}