@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400&family=Lato:wght@300;400&family=Oswald:wght@200;300;400&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Anton', sans-serif;

*/



:root {

	--white: rgb(228, 228, 228);
	--lightred: rgb(208, 0, 0);
	--darkRed: rgb(126, 0, 0);
	--darkGray: rgb(22, 22, 22);
	--mediumGray: rgb(70, 70, 70);
	--lightGray: rgb(104, 104, 104);
	--yellow: rgb(232, 182, 0);
	--orange: rgb(255, 157, 0);
	--black: black;
	--darkBlue: rgb(0, 53, 114);
	--lightBlue: rgb(0, 88, 187);

	--font_Inter: 'Inter', sans-serif;
	--font_Lato: 'Lato', sans-serif;
	--font_Oswald: 'Oswald', sans-serif;
	--font_Anton: 'Anton', sans-serif;

}



html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--black);
	margin: 1px;
}

nav {
	width: 100%;
	text-align: right;
}

nav a {
	text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font_Oswald);
	color: var(--white);
	text-shadow: 1px 1px var(--black);
	font-weight: normal;
	text-decoration: none;

}

p {
	font-family: var(--font_Lato);
	color: var(--white);
}



label {
	font-family: var(--font_Oswald);
	text-shadow: 1px 1px var(--black);

}

i {
	padding: 1%;
}

footer {
	background-color: var(--mediumGray);
	max-width: 100%;
	height: fit-content;
	padding: 2%;
}

footer * {
	font-family: var(--font_Lato)
	color: var(--white);
	text-decoration: none;
}

footer p {
	grid-column: 1/3;
}

footer a:hover {
	color: var(--lightBlue);

}

footer img {
	max-width: 30px;
}

.DownloadButton {
	background: var(--orange);
	background: linear-gradient(0deg,
			var(--orange) 0%,
			var(--yellow) 40%,
			var(--yellow) 60%,
			var(--orange) 100%);

	color: var(--black);
	font-family: var(--font_Anton);
	text-decoration: none;
	padding: 0.5%;
	border-radius: 2px;
	margin: 1%;

}

.AlertBox {
	display: flex;
	width: 100%;
	justify-content: center;
}

.AlertBox p {
	display: block;
	width: 50%;
	background-color: var(--darkBlue);
	color: var(--white);
	text-align: center;
	padding: 2%;
	border: 2px solid var(--darkGray);
	font-family: var(--font_Oswald);
	
}

.DownloadButton:hover {
	color: black;
	background-color: var(--yellow);
	cursor: pointer;
}

.Main {

	animation-name: fadeIn;
	animation-duration: 1s;
}

.NavigationBox {
	background-color: var(--darkGray);
	padding-bottom: 1%;
	padding-top: 1%;

}

#logo {
	width: 100px;
	height: 30px;
}

.NavigationButton {
	background-color: var(--darkGray);
	color: rgb(247, 247, 247);
	font-family: var(--font_Oswald);
	text-decoration: none;
	padding: 0.5%;
	margin: 1%;
	border: 1px solid var(--lightGray);

}

.NavigationButton:hover {
	background-color: var(--lightGray);
	color: var(--white);
}

.broadcastBox {
	text-align: left;

	background-image: url(../Img/banner.png);
	background-position: top;
	background-size: cover;
	width: 100%;
	max-width: 100%;
	height: 50vh;
}

.broadcastBox h3 {
	padding-left: 1%;
	color: var(--yellow);
	background: linear-gradient(90deg, var(--lightred) 0%,var(--darkRed) 80%, transparent 100%);
	padding: 0.5%;
	font-size: 140%;
	margin: 0px;
}

.broadcastBox h1,
h2,
h5 {
	color: var(white);
	margin-left: 1%;
	text-align: left;
}

.broadcastBox a {
	margin-left: 1%;
}

.CommentSection {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.Comment {
	display: grid;
	grid-template-columns: 80% 20%;
	align-items: center;


	color: var(--white);

	font-family: 'Oswald';

}

.Comment img {
	width: 60px;
	border: 1px solid var(--white);

}

.Comment:nth-child(even) {
	background-color: var(--darkGray);
}

.Comment:nth-child(odd) {
	background-color: var(--lightGray);
}

.CommentUserSection {
	display: grid;
	grid-template-columns: 100%;
	justify-items: center;
	font-size: 70%;
	text-align: center;
	border: 1px solid var(--darkGray);

}

.CommentText {
	margin-left: 2%;
	margin-top: 1%;
	height: 100%;
}



.defaultBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid var(--darkGray);
	width: 100%;

}



#defaultBoxTitle {
	color: var(--white);
	background-color: var(--darkRed);
	background: linear-gradient(180deg, var(--lightred) 0%, var(--darkRed) 80%, transparent 100%);
	font-size: 100%;
	width: 99%;
}

#defaultBoxText {
	width: 90%;
	margin: 5%;
	color: var(--white);
	font-family: Calibri;
	text-align: justify;
	font-family: 'Oswald', sans-serif;

}

.defaultButton {
	background-color: var(--lightBlue);
	width: 100px;
	padding: 0.5%;
	border-radius: 2px;
	margin: 1%;
	cursor: pointer;

	text-align: center;
	color: var(--white);
	font-family: 'Oswald', sans-serif;

	text-decoration: none;
	font-weight: bold;

}

.defaultButton:hover {
	background-color: var(--darkBlue);

}

.disclaimer {

	display: grid;

	align-content: center;
	max-width: 100%;
	height: fit-content;
	border: 2px solid var(--lightGray);
	text-align: justify;
	background-color: var(--darkGray);

	color: var(--white);
	padding: 3%;
}

.disclaimer p {
	font-family: 'Oswald', sans-serif;
}

.FormBox {
	display: grid;
	justify-items: center;
	width: 100%;
	max-width: 100%;
	padding: 1%;
	background-color: rgb(15, 15, 15);
	border-top: 1px solid var(--black);
	animation-name: fadeIn;
	animation-duration: 1s;

}


.Formulario {
	display: grid;
	grid-template-columns: 100%;
	justify-content: center;
	
	background-color: var(--darkGray);
	width: 80%;
	padding: 2%;
	margin: 1%;
	color: var(--white);
	
}

.Formulario input,
select {
	background-color: var(--white);
	border-radius: 5px;
	border: 1px solid var(--lightGray);
	height: 25px;
	text-align: left;
	font-family: var(--font_Inter);

}



.Formulario textarea {
	background-color: var(--white);
	font-family: 'Oswald', sans-serif;
	font-size: 20px;

}

.Formulario button {
	font-family: 'Oswald', sans-serif;

}

.Formulario h2 {
	font-family: 'Lato', sans-serif;
	color: var(--darkGray);
}



#fileSelector .input-file {
	display: hidden;
}

.ImgSelectBox {
	display: flex;
	gap: 10%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



input[type=file] {
	background-color: var(--lightGray);
	color: var(--black);
	padding: 2%;
}

input[type=file]::file-selector-button {

	border-radius: 0px;
	border: none;
	height: 100%;

}

input[type=submit] {
	background-color: var(--orange);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: fit;
	text-align: center;
	border: none;
}

input[type=submit]:hover {
	background-color: var(--yellow);

}

#imgPreview {
	height: 100px;
	max-width: 100px;
	border: 2px solid var(--lightGray);

}

#profileImg {
	height: 90px;
	width: 90px;
	object-fit: cover;
	border-radius: 50%;
	border: 1px solid var(--lightGray);
}

.Social {
	width: 100%;
}

.dropbtn {
	background-color: none;
	color: var(--white);
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px var(--black);
	border: 1px solid var(--lightGray);
	z-index: 1;
}

.PostsTable {
	background-color: var(--darkGray);
	width: 90%;
	font-family: sans-serif;
	border: 1px solid var(--darkBlue);
	border-collapse: collapse;

}

.PostsTable td{
	font-size: 60%;
	width: 20%;
}

.PostItem {
	display: grid;
	grid-template-columns: 80% 20%;
	grid-row: 10%;
	font-family: 'Oswald';
	align-items: center;
}

.PostItem .defaultBox {
	height: 100%;
	justify-content: center;
}

.PostItem:nth-child(even) {
	background-color: var(--lightGray)
}

.PostItem:nth-child(odd) {
	background-color: var(--mediumGray)
}

.PostUser {
	display: grid;
	grid-template-columns: 40% 60%;
	gap: 2%;
	align-items: center;
	border: 1px solid var(--black);
	color: var(--white);
	padding: 2%;
	font-size: 70%;
}

.PostUser img {
	width: 100%;
}

.PostTitle * {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-decoration: none;
	color: var(--white)
}

.PostTitle {
	display: flex;
	border: 1px solid var(--black);
	height: 100%;
	align-items: center;
}

.PostBody {
	display: grid;
	grid-template-columns: 20% 80%;
	background-color: rgb(55, 55, 55);
	border: 1px solid var(--black);
}

.PostUserSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	color: var(--white);
	background-color: var(--darkGray);
	font-size: 70%;
	border: 1px solid var(--black);
}

.PostContent {
	margin-left: 2%;
}

.PostUserSection img {
	border: 1px solid var(--lightGray);
	width: 60px;
	margin: 10px;
}



.show {
	display: block;
	justify-items: center;
	right: 10px;
	background-color: var(--darkGray);
	padding: 10%;
}

.show input {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	width: 70%;
	margin: 2%;
	border: 1px solid var(--black);

}

.show button {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	background-color: rgb(255, 187, 0);
}

.show button:hover {
	background-color: var(--yellow);

}


.TopicDashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	color: white;
	background-color: var(--darkGray);
	border: 1px solid var(--mediumGray);
	font-size: 150%;
	

}

.TopicDashboard a{
	font-family: var(--font_Oswald);
	color: var(--white);
	text-decoration: none;
	font-weight: lighter;
	font-size: 20px;
	text-align: left;
}

.TopicDashboard th:hover{
	background-color: var(--darkBlue);
}

.TopicDashboard th, td{
	border: 1px solid var(--black);
	padding:1%;
	text-align: left;
	
	
}

.userIcon {
	color: var(--lightGray);
}

.userInfo {
	display: grid;
	justify-items: center;
	grid-template-columns: auto auto;
	align-items: center;
}

.userInfo a {
	color: var(--white);
	font-family: 'Oswald', sans;
}


.UserDashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	padding: 1%;

	border: 1px solid var(--black);
	background-color: var(--darkGray);

	color: var(--white);
	font-family: 'Oswald', sans;
	font-size: 90%;

}

.UserDashboard td{
 width: 100%;	
 text-align: center;
}

.UserDashboard tr:nth-child(even){
	background-color: var(--darkGray);
}

.UserDashboard th, tr:nth-child(odd){
	background-color: var(--mediumGray);
}

.UserDashboard h2 {
	background-color: var(--darkBlue);
	width: 100%;
	text-align: center;
	border: 1px solid var(--lightBlue);
}


/*
Mobile Screen
*/
@media screen and (max-width: 600px) {

	.Main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.NavigationBox,
	nav {
		display: flex;
		flex-direction: column;
		justify-items: center;
	}

	.defaultBox {
		max-width: 95%;
		height: fit-content;
	}

	.defaultBox iframe {
		width: 100%;
		height: 90%;

	}

	.Social {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}

/*
Monitor Screen
*/
@media screen and (min-width: 600px) {

	.Main {
		display: grid;
		grid-template-columns: 50% auto;
		gap: 1%;
		justify-items: center;
	}

	.NavigationBox {
		display: grid;
		grid-template-columns: 20% auto;
		padding: 1%;
	}

	.defaultBox {
		max-width: 99%;
	}

	.defaultBox iframe {
		width: 100%;
		height: 50vh;
	}

	.broadcastBox,
	.FormBox {
		grid-column: 1/3;
	}


	.Social {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	footer {
		display: grid;
		grid-template-columns: 70% auto;
		align-items: center;
	}


}


@keyframes paddingOut {
	from {
		padding: 0.5%;
	}

	to {
		padding: 1%;
	}
}

@keyframes paddingIn {
	from {
		padding: 1%;
	}

	to {
		padding: 0.5%;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 100%
	}

}