
<footer>

        <div class="Logos">
            <p>Only on </p> <img src="../static/Img/PClogoWhite.png" alt="PC Logo" title="PC"> <p style="color: gray;"> for the moment...</p> 
        </div>
    <div class="Social">
        <a href="https://www.facebook.com/search/top?q=garri87%20games" title="facebook"><i class="fa-brands fa-facebook fa-xl"></i></a>
        
        <a href="https://www.youtube.com/channel/UCi463zCuscV2JmJvroLwyZA" title="youtube"><i class="fa-brands fa-youtube fa-xl"></i></a>
    
        <a href="https://patreon.com/zcavenger?utm_medium=clipboard_copy&utm_source=copyLink&utm_campaign=creatorshare_creator" title="patreon"><i class="fa-brands fa-patreon fa-xl"></i></a>
        
        <a href="https://www.instagram.com/zcavenger_game/" title="instagram"><i class="fa-brands fa-instagram fa-xl"></i></a>
            
    </div>
    <br>
    <p style="text-align:center">Site made by Pablo Flores. Contact: <a href="mailto:garri87games@gmail.com" title="mail">Garri87games@gmail.com</a>
    <span>| All rights reserved</span>	
</footer>
